* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.col{
  background:linear-gradient(to bottom right, red, yellow);
  padding: 20px;
}
// .row{
//   margin-top: px;
//   // background: rgb(228, 226, 226);
//   height: 600px;
// }
// .card-title h5{
//   color: #222222;
// }
// h2{
//   color: #222222;
// }
// .card-group{
//   background: red;
// }
.card-body{
  background:linear-gradient(to bottom right, red, yellow);
  padding:20px;
}
// .card{
//   padding: 50px;
// }
// .form-control{
//   background: rgb(226, 38, 38)
// }

