* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.col{
  background:#8093a7;
  padding: 40px;
  margin-top: 30px;
}
.row{
  margin-top: px;
  background: rgb(228, 226, 226);
  height: 600px;
}
.card-title h5{
  color: #222222;
}
h2{
  color: #222222;
}
.card{
  background: black;
}
.card-body{
  background: black;
}
.form-control{
  background: whitesmoke
}

