* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.reg-body .lo-body{
  background: linear-gradient(to bottom right, rgb(75, 164, 248), rgb(194, 231, 252));
  margin-top: 20px;
}
.reg-card .lo-card{
  background: linear-gradient(to bottom right, rgb(75, 164, 248), rgb(194, 231, 252));
  padding:10px;
  margin-top: 5%;
}
.mb-3{
  padding: 10px;
}
h2{
  padding: 10px;
}
.btn {
  float: right;
  margin-right: 10px;
  font-size: 	1.3125em;
}
.form-label{
font-size: 	1.3125em;
}
.main-view{
  display: grid;
  grid-gap: 20px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  
}
// movie card
// .mov-card{
//   background: blue;
// }
// .card-body{
//   background: red;
// }
.movies{
  background: ghostwhite;
  text-align: center;
  padding: 20px;
}
.movie-btn{
  float: left;
}